*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'imports/font';
@import 'imports/toggle';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #8E44AD;
}

.full-overlay {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

.bar {
    height: 10px;
    width: 100px;
    background-color: grey;
}

.name {
    position: absolute;
    cursor: pointer;
    color: white;
    @include transition(all 0.25s linear);
    z-index: 2;

    &.position-start {
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        font-size: 4rem;
    }

    &.position-middle {
        top: 50%;
        left: 1rem;
        @include transform(translate(0%, -50%));
        font-size: 2.5rem;
    }

    &.name-mouse-down {
        @include transform(translate(-50%, -50%) scale(0.95));
        opacity: 0.66;
    }
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    font-size: 2rem;
    color: white;
    opacity: 0;
    @include transition(all 0.25s linear);
    z-index: 1;
    text-align: center;

    li {
        list-style: none;
    }

    a {
        &:visited {
            color: white;
        }
        text-decoration: none;
    }
}

.name.name-mouse-down+.menu {
    opacity: 0.33;
    @include transform(translate(-50%, -50%) scale(1.05));
}