*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'imports/toggle';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.full-overlay {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}