@{
    Layout = "~/Shared/_Layout.cshtml";
}
<div class="bar barOne"></div>
<div class="bar barTwo"></div>
<div class="name position-start">brent rempel</div>
<nav>
    <ul>
        <li><a href="~/Content/About">about me</a></li>
        <li><a href="~/Content/Game">play a game</a></li>
    </ul>
</nav>