@{
    Layout = "~/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="small-12 columns">
        <header>
            <h1 class="title">brent rempel</h1>
            <span class="arrow-down"></span>
        </header>
        <nav class="menu">
            <ul>
                <li class="menu-item"><span class="arrow-up"></span></li>
                <li class="menu-item"><a href="#about-me" class="about-me-menu">about me</a></li>
                <li class="menu-item"><a href="#play-game" class="play-game-menu">play a game</a></li>
            </ul>
        </nav>
        <main>
            <section class="about-me-content">
                <span class="arrow-up"></span>
                I should  put a whole lot of text here about me. But there's not much to say!
            </section>
            <section class="play-game-content">
                <span class="arrow-up"></span>
                There might be something fun coming here at some point!
            </section>
        </main>
    </div>
</div>